<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour Admin,</h1>
    <p>
      Félicitations, une nouvelle vente a été réalisée sur Learnit.
    </p>
  </body>
</html>