<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour et bienvenue chez LearnIt!</h1>
    <p>Nous vous confirmons votre inscription chez LearnIt!.</p>
    <p>À très vite sur LearnIt!</p>
  </body>
</html>