<section class="row justify-content-center">
  <%= render("layouts/partials/hero_banner_learnit") %>
</section>
<hr>
<section>
  <--!%= render("layouts/partials/.....", all_themes: @themes) %>
</section>