<section class="row justify-content-center">
  <%= render("layouts/partials/hero_banner_learnit") %>
</section>
<hr>
<section>
  <%= render("layouts/partials/theme_card", all_themes: @themes) %>
</section>