<div>
<!-- Sidebar --> 
  <aside class="fixed-right">
    <%= render "layouts/partials/side_bar_courses" %>
  </aside>

<!-- Page Content -->
  <section>
    <%= render "layouts/partials/course_content" %>
    <%= link_to("Cours suivant",root_path, class:"btn btn-warning") %>
  </section>
</div>