<div class="row">
<!-- Sidebar --> 
  <aside class="col-2">
    <%= render "layouts/partials/side_bar_courses" %>
  </aside>

<!-- Page Content -->
  <section class="col-10">
    <%= render "layouts/partials/course_content", course: @course %>
    <% if !@next_course.nil? %>
      <%= link_to("Cours suivant", course_path(@next_course.id), class:"btn btn-warning") %>
    <% end %>

  </section>
</div>