<div class="row">
<!-- Sidebar --> 
  <aside class="col-2">
    <%= render "layouts/partials/side_bar_courses" %>
  </aside>

<!-- Page Content -->
  <section class="col-10">
    <%= render "layouts/partials/course_content", course: @course %>
    <%= link_to("Cours suivant", root_path, class:"btn btn-warning") %>
  </section>
</div>