<section class="row justify-content-between mb-5 bg-primary">
    <div class="col-5 mx-5 my-3 p-2"> 
        <%= image_tag("banner_index.jpg", alt:"Photo de startupeurs", class:"opacity-50 rounded", width:"500") %>
    </div>
    <div class="col-5 mx-5 my-3 pt-5">
        <p class="h1 text-light"><span class="text-secondary">LearnIt!</span>, la nouvelle plateforme web d'apprentissage.</p>
        <p class="lead text-light">Vos règles, votre rythme, votre communauté !</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <%= link_to("S'inscrire",new_user_session_path, class:"btn btn-outline-secondary btn-lg px-4 me-md-2 text-light", method:"get") %>
            <%= link_to("Se connecter",new_user_registration_path, class:"btn btn-outline-secondary btn-lg px-4 me-md-2 text-light", method:"get") %>
        </div>
    </div>
</section>
