<section class="row py-5 mb-5 bg-primary">
    <div class="col-md-6 text-center"> 
        <%= image_tag("banner_index.jpg", alt:"Photo de startupeurs", class:"img-fluid", width:"500") %>
    </div>
    <div class="col-md-6">
        <h1 class="text-secondary ">LearnIt!</h1>
        <h2 class="text-light">La nouvelle plateforme web d'apprentissage</h2>
        <p class="text-light lead fs-4">
            <%if current_user %>
            <%= current_user.first_name %>, suivez
            <%end%> 
            Vos règles, Votre rythme, Votre communauté !
        </p>
        <div class="row">
        <div class="col-md-8 d-flex justify-content-center pt-5">
            <%if !user_signed_in? %>
                <%= link_to("S'inscrire",new_user_registration_path, class:"btn btn-outline-secondary btn-lg text-light mx-3", method:"get") %>
                <%= link_to("Se connecter",new_user_session_path, class:"btn btn-outline-secondary btn-lg text-light mx-3", method:"get") %>
            <%end%>
        </div>
        </div>
    </div>
</section>
