<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="px-sm-2 px-0 bg-primary">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto nav-link link-light text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    
                    <% @courses.each do |x_course| %>
                        <li class="nav-item">
                            <%= link_to course_path(x_course.id), method: "get" do %>
                                <i class="fs-5 bi-grid link-light"></i> <span class="ms-1 d-none d-sm-inline link-light"><%= x_course.title %></span>
                            <% end %>
                        </li>
                    <% end %>
                
                </ul>
                <hr>
            </div>
        </div>

    </div>
</div>